* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial";
}

:root {
  --red: #e23636;
  --green: #82dd55;
  --yellow: ;
}

canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}

body {
  background-color: black;
}

header {
  padding: 100px 15px 30px;
  z-index: 100;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  color: white;
}

header input {
  width: 100%;
  max-width: 400px;
  height: 42px;
  margin: auto;
  display: block;
  padding: 0 10px;
  border-radius: 5px;
}

main {
  padding: 0 15px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}

.error-message-container {
  height: 130px;
  overflow: hidden;
}

#error-message-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: auto;
  list-style-type: none;
}

.error-message-wrapper {
  color: #cc0033;
  border: 2px solid #cc0033;
  background-color: #fce4e4;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 30px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  gap: 10px;
  opacity: 1;
  flex-direction: column;
  transition: opacity 0.4s 0.4s ease-out;
}
.error-message-wrapper.valid {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
}

.valid {
  color: green;
  border: 2px solid greenyellow;
  background-color: greenyellow;
  max-width: 600px;
  margin: 0 auto 30px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  gap: 10px;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }
}
